<div class="row d-flex flex-column main-container">
    <div class="card card-menu">
        <div class="card-body">
            <div class="d-flex flex-row ">
            <ul style="text-align: center;margin-top: 5px;">
                <li >
                    <a>Home</a>
                    <a>Menu</a>
                    <a>Students</a>
                    <a>Courses</a>
                    <a>About</a>
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>
<div class="column d-flex flex-column side-container">
</div>


